@import "bootstrap";

/*******************
  Project styles
  *******************/

body {
	
}

.soundMap {
	background-color: #fbfbfb;
	border: 1px solid #ccc;
	height: 400px;
	width: 400px;
	float: left;
}


.dot {
	height:5px;
	width:5px;
	border-radius: 5px;
	background-color: red;
}

.sound {
	height:5px;
	width:5px;
	border-radius: 5px;
	background-color: hotpink;	
}


.getDistance, .moveActor {
	float: left;
	margin-left: 20px;
}

.results, .coordinates {
	float: left;
	margin-left: 20px;
	width: 250px;
}

.mover {
	height:5px;
	width:5px;
	border-radius: 5px;
	background-color: blue;
	position: relative;
}