@import "bootstrap";

/*******************
  Project styles
  *******************/

body {
	
}

.soundMap {
	background-color: #fbfbfb;
	border: 1px solid #ccc;
	height: 400px;
	width: 400px;
	float: left;
}
#map {
	height: 400px;
	width: 400px;
}

.dot {
	height:5px;
	width:5px;
	border-radius: 15px;
	background-color: red;
	&:hover {
		cursor: move;
		height: 15px;
		width: 15px;
		margin-top: -3px;
		margin-left: -3px;
	}
}

.sound {
	height:5px;
	width:5px;
	border-radius: 5px;
	background-color: hotpink;	
}


.getDistance, .moveActor {
	float: left;
	margin-left: 20px;
}

.results, .coordinates {
	float: left;
	margin-left: 20px;
	width: 250px;
}

.mover {
	height:5px;
	width:5px;
	border-radius: 5px;
	background-color: blue;
	position: absolute;
	top: 0;
	left: 0;
}

svg {
	height: 399px;
	width: 400px;
	position: absolute;
	top: 0;
	left: 0;
}

circle {
  fill: #EDB6AF;
  fill-opacity: 0.6;
  stroke: #EDB6AF;
  stroke-width: 1;
}
